target
target/*
*~
.idea
.eml
.project
.settings
.classpath
/target
*/target/**
*.log
rebel.xml
antx.properties*
application-*.properties
files-md5.properties
.factorypath
.vscode
.DS_Store
/logs
*.iml
node_modules
test/derby.log
derby.log
work
test/logs
yarn.lock
.flattened-pom.xml